@mixin button {
  padding: var(--main-padding);
  border-radius: var(--border-radius);

  font-weight: 700;
  letter-spacing: 3px;

  background-color: rgba(0, 0, 0, 0.06);
  border: 2px solid rgba(0, 0, 0, 0.09);

  &:hover {
    border: 2px solid rgba(var(--accent-color-rgb), 0.715);
  }
  &.selected, &:active {
    background-color: rgba(var(--accent-color-rgb), 0.13);
    outline: none;
  }
  &:focus {
    outline: none;
  }


  &.danger {
    background-color: rgba(var(--danger-color-rgb), 0.12);
    border: 2px solid rgba(var(--danger-color-rgb), 0.09);

    &:hover {
      border: 2px solid rgba(var(--danger-color-rgb), 0.715);
    }
    &.selected, &:active {
      background-color: rgba(var(--danger-color-rgb), 0.23);
    }
  }
}
