@mixin mobile-screen {
  @media screen and (max-width: 750px) {
    @content;
  }
}
@mixin tablet-screen {
  @media screen and (max-width: 1350px) {
    @content;
  }
}
@mixin not-mobile-screen {
  @media screen and (min-width: 750px) {
    @content;
  }
}

:root {
  --extra-padding: 2.1em;
  --main-padding: 1em;
  --medium-padding: 0.5em;
  --dense-padding: 0.3em;

  --border-radius: 0.2em;

  // font
  --font-size: 19px;
  --font-color: rgba(0, 0, 0, 0.822);

  // color
  --background-color: #ffffff;

  --accent-color: #0000ff;
  --accent-color-rgb: 0, 0, 255;

  // danger color
  --danger-color: #ff0000;
  --danger-color-rgb: 255, 0, 0;
}
