@mixin mobile-screen {
  @media screen and (max-width: 750px) {
    @content;
  }
}
@mixin tablet-screen {
  @media screen and (max-width: 1350px) {
    @content;
  }
}
@mixin not-mobile-screen {
  @media screen and (min-width: 750px) {
    @content;
  }
}

:root {
  --extra-padding: 2.1em;
  --main-padding: 1em;
  --medium-padding: 0.5em;
  --dense-padding: 0.3em;

  --border-radius: 0.2em;

  // font
  --font-size: 19px;
  --font-color: rgba(0, 0, 0, 0.822);

  // color
  --accent-color: #0000ff;
  --accent-color-rgb: 0, 0, 255;

  // borders
  --gray-border: 2px solid rgba(0, 0, 0, 0.09);
  --selected-border: 2px solid rgba(var(--accent-color-rgb), 0.09);

  // divs
  --gray-background-color: rgba(0, 0, 0, 0.06);
  --selected-background-color: rgba(var(--accent-color-rgb), 0.10);
}
